body {

    --background-color: black;
    --text-color: rgba(255,255,255,.73);
    --border-color: rgba(255,255,255,.3);
    --font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",'Open Sans',sans-serif;
    
    background: var(--background-color);
    color: var(--text-color);
    font-size: .95em;
    font-family: var(--font-family);
    margin: 0;
    --pagefind-ui-scale: 1;
    --pagefind-ui-primary: var(--text-color);
    --pagefind-ui-text: var(--text-color);
    --pagefind-ui-background: var(--background-color);
    --pagefind-ui-border: var(--border-color);
    --pagefind-ui-tag: var(--border-color);
    --pagefind-ui-border-width: 2px;
    --pagefind-ui-border-radius: 8px;
    --pagefind-ui-image-border-radius: 8px;
    --pagefind-ui-image-box-ratio: 3 / 2;
    --pagefind-ui-font: sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5em 0;
    font-weight: 400;
    line-height: 1.2;
}

h1 {
    font-size: 2em;
     margin-top: .1em;
}

summary h2, summary h3 {
    display: inline;
    cursor: pointer;
}

a {
    color: inherit;
}

.center {
    margin-top: 1em;
    text-align: center;
}

nav {
    text-align: center;
}

nav label {
    font-size: 1.5em;
}

object {
    display: flex;
}

img, object {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: rgba(255,255,255,.9);
}

.icon {
    align-self: center;
}

.icon svg {
    fill: currentColor;
    height: 1em;
    width: 1em;
    top: .125em;
    position: relative;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu .icon svg {
    width: 2em;
    height: 2em;
    margin: 0.5em 1em;
}


.top-button {
    display: block;
    position: absolute;
    padding: .15em;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0));
    font-size: 1.5em;
}

.cards {
    display: flex;
    margin: auto;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70em;
    
    clear: both;
}

.cards .card {
    min-width: 14em;
    min-height: 18em;
    margin: 1em;
    width: 15em;
    text-align: center;
}

.poster {
    border: 1px var(--border-color) solid;
}

.card p {
    margin: 0.1em;
}

.movie-header .fanart {
    background-size: cover;
    height: 33vh;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}

.movie-header .poster {
     margin-top: -15vh;
}
        
header .poster {
    margin: 2vw;
    margin-left: 2vw;
    float: left;
    height: 33vh;
}


.info .info-line {
    margin-bottom: .5em;
}

.info-line .info:after {
    content: ", ";
}

.info-line .info:last-child:after {
    content: "";
}

.item-array {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}

.item-array .item {
    margin: 0;
    margin-right: 1em;
}

.item.download {
    cursor: pointer;
}

.runtime:after {
    content: "min";
}

.rating:before {

}

.key-value:before {
    font-weight: bold;
}

.genres:before {
    content:"Genres: ";
}

.director:before {
    content:"Director: ";
}

section {
    clear: left;
    padding: 1em;
}

.item-array .icon {
    font-size: 2em;
    text-align: center;
}

.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plot {
    padding-left: 3vm;
    max-width: 40em;
}

.episode {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    margin: 2em;
}

.episode .thumb {
    max-width: 50%;
    margin: auto;
}

.episode .info {
    padding: 0 1.5em;
    margin: auto;
}

.episode .info h3 {
    margin-top: 0;
}

.episode .plot {
    flex-grow: 1;
}

@media only screen and (max-width: 600px) {

    .cards .card {
        min-width: 10em;
        min-height: 14em;
        width: 10em;
    } 
    
    .top-button {
        font-size: 2.1em;
    }
}


nav {
    border-bottom:1px solid rgba(255,62,0,0.1);
    font-weight:300;
    padding:0 1em
}

nav ul {
    margin:0;
    padding:0
}
nav ul::after{
    content:'';
    display:block;
    clear:both
}

nav li{
    display:block;
    float:left
}

nav a{
    text-decoration:none;
    padding:1em 0.5em;
    display:block
}

h1{
    margin:0 auto
}

h1{
    font-size:2.8em;
    font-weight:700;
    margin:0 0 0.5em 0
}

p{
    margin:1em auto
}

.tags {
    list-style: none;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: baseline;
}

li.tag {
    margin: 0.5em;
}

.tag a:before {
    content: "#";
} 

.instruction {
    position: relative;
}

.instruction .instruction-content {
    position: absolute;
    width: 15em;
    padding: 0.3em;
    max-width: 50vw;
    background-color : var(--background-color);
    border: solid 1px var(--border-color); 
}

.instruction .instruction-close {
    cursor: pointer;
    position: absolute;
    right: 0.3em;
    top: 0.3em;
}

.instruction-box {
    display: none;
}

.instruction-box ~ .instruction {
    display: initial;
}

.instruction-box:checked ~ .instruction {
    display: none;
}


